<form action="/orchestras/<%= @orchestra.id %>/musicians" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Musician Name:</p>
  <input type="text" name="name"/><br/>
  <p>Full Time:</p>
  <select name="full_time" id="options">
    <option value="true">true</option>
    <option value="false">false</option>
  </select>
  <p>Years Involved:</p>
  <input type="number" name="years_involved"><br/>
  <br><input type="submit" value="Create Musician">
</form>