<h1>Welcome to the Orchestras and Musicians Relational Rails Project!</h1>

<h3>This project works with a one to many relationship, with orchestras being the one, and musicians being the many!</h3>

<h1>Navigation:</h1>

<%= link_to "Musicians Index", "/musicians" %><br/>
<br><%= link_to "Orchestras Index", "/orchestras" %>

<p>~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~</p>