<%= link_to "Musicians Index", "/musicians" %>

<h1>Orchestras Index</h1>

<% @orchestras.each do |orchestra| %>
  <h3><%= orchestra.name %></h3>
  <p>Created At: <%= orchestra.created_at %><p>
<% end %>