<form action="/orchestras" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Orchestra Name:</p>
  <input type="text" name="name"/><br/>
  <p>Auditions Open:</p>
  <input type="radio" name="auditions_open" id="true">
  <label for="true">true</label>
  <input type="radio" name="auditions_open" id="false">
  <label for="false">false</label>
  <p>Year Established:</p>
  <input type="number" name="year_established"><br/>
  <br><input type="submit" value="Create Orchestra">
</form>
